@import "tailwindcss";

@layer utilities {
  .parent {
    -webkit-mask-image: radial-gradient(
      circle 28px at 50% 0,
      transparent 99%,
      black 100%
    );
    mask-image: radial-gradient(
      circle 28px at 50% 0,
      transparent 99%,
      black 100%
    );
  }
}